<%- include('header') -%>
<div class="text-center mt-5" id="login">

    <div class="text right-div" style="text-align: right;padding-right: 40px;">
     Welcome <span style="font-weight:bold">  <%= locals.user ? user : "User" %> </span>
    <a href="/route/logout">Logout</a></div>
    <h3> Dealers Dashboard </h3>
    <div class="container py-5 mt-5" id="dealers">
<!--<%= locals.dealer_data ? dealer_data : "gfhgfhfgj" %>-->
<%= locals.dealer_data%>
    </div>
</div>

<%- include('footer') -%>