<%- include('header') -%>
<%- include('banner') -%>

<div class="text-center">
    <h3> Dealers Dashboard </h3>

    <div class="container py-5" id="dealers">
        <table id="dealersTable" class="table table-striped table-hover table-bordered table-sm" cellspacing="0" width="100%">
          <tr>
            <th class="th-sm header">BAC</th>
            <th class="th-sm header">Name</th>
            <th class="th-sm header">City</th>
            <th class="th-sm header">State</th>
            <th class="th-sm header">Country</th>
            <th class="th-sm header">Brand</th>
          </tr>
        <% for (var i = 0; i < data.length; i++) { %>
            <tr>
              <td class="td-sm"><a href="./vehicle"><%= data[i].bac %></a></td>
              <td class="td-sm"> <a href="./vehicle"><%= data[i].name %></a></td>
              <td class="td-sm"><a href="./vehicle"><%= data[i].city %></a></td>
              <td class="td-sm"><a href="./vehicle"><%= data[i].state %></a></td>
              <td class="td-sm"><a href="./vehicle"><%= data[i].country %></a></td>
              <td class="td-sm"><a href="./vehicle"><%= data[i].brand %></a></td>
            </tr>

                <tr>
                  <td class="td-sm"><a href="./vehicle"><%= data[i].bac %></a></td>
                  <td class="td-sm"> <a href="./vehicle"><%= data[i].name %></a></td>
                  <td class="td-sm"><a href="./vehicle"><%= data[i].city %></a></td>
                  <td class="td-sm"><a href="./vehicle"><%= data[i].state %></a></td>
                  <td class="td-sm"><a href="./vehicle"><%= data[i].country %></a></td>
                  <td class="td-sm"><a href="./vehicle"><%= data[i].brand %></a></td>
                </tr>

                    <tr>
                      <td class="td-sm"><a href="./vehicle"><%= data[i].bac %></a></td>
                      <td class="td-sm"> <a href="./vehicle"><%= data[i].name %></a></td>
                      <td class="td-sm"><a href="./vehicle"><%= data[i].city %></a></td>
                      <td class="td-sm"><a href="./vehicle"><%= data[i].state %></a></td>
                      <td class="td-sm"><a href="./vehicle"><%= data[i].country %></a></td>
                      <td class="td-sm"><a href="./vehicle"><%= data[i].brand %></a></td>
                    </tr>

                            <tr>
                              <td class="td-sm"><a href="./vehicle"><%= data[i].bac %></a></td>
                              <td class="td-sm"> <a href="./vehicle"><%= data[i].name %></a></td>
                              <td class="td-sm"><a href="./vehicle"><%= data[i].city %></a></td>
                              <td class="td-sm"><a href="./vehicle"><%= data[i].state %></a></td>
                              <td class="td-sm"><a href="./vehicle"><%= data[i].country %></a></td>
                              <td class="td-sm"><a href="./vehicle"><%= data[i].brand %></a></td>
                            </tr>

                                <tr>
                                  <td class="td-sm"><a href="./vehicle"><%= data[i].bac %></a></td>
                                  <td class="td-sm"> <a href="./vehicle"><%= data[i].name %></a></td>
                                  <td class="td-sm"><a href="./vehicle"><%= data[i].city %></a></td>
                                  <td class="td-sm"><a href="./vehicle"><%= data[i].state %></a></td>
                                  <td class="td-sm"><a href="./vehicle"><%= data[i].country %></a></td>
                                  <td class="td-sm"><a href="./vehicle"><%= data[i].brand %></a></td>
                                </tr>
          <% } %>
         </table>
    </div>
</div>
<%- include('footer') -%>